.subtitle {
  padding-bottom: 20px;
}
h2.title {
  font-size: 42px;
  line-height: 52px;
  font-style: normal;
  font-weight: 700;
}

// hero
.hero {
  padding: 100px 0;
  text-align: center;
  background: #f8ebc9;

  &__title {
    margin-top: 10px;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: 70px;
  }

  &__desc {
    margin-top: 10px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
  @media (max-width: 1199.98px) {
    padding: 80px 0;

    &__title {
      margin-top: 10px;
      font-size: 50px;
      font-style: normal;
      font-weight: 800;
      line-height: 60px;
    }
  }

  @media (max-width: 991.98px) {
    padding: 70px 0;

    &__title {
      margin-top: 10px;
      font-size: 45px;
      font-style: normal;
      font-weight: 800;
      line-height: 60px;
    }
  }
}

.desc {
  margin-top: 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

// shape
.shape {
  position: relative;
  width: min(470px, 100%);
  margin-left: auto;

  &__play {
    position: absolute;
    top: -60px;
    left: -20px;
    width: 120px;
    height: 120px;
    z-index: var(--z-overlay);

    &::before {
      content: "▶";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: flex;
      align-items: center;
      justify-content: center;

      width: 80px;
      height: 80px;
      border-radius: 50%;

      background-color: var(--dark);
      color: #fff;

      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      font-size: 20px;

      z-index: var(--z-elevated);
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;

      background: url("/assets/images/img-text-circle.png") center / contain
        no-repeat;

      transform-origin: center;
      animation: rotateCircle 5s linear infinite;

      z-index: var(--z-default);
    }
  }

  &__green {
    position: relative;
    width: 100%;
    aspect-ratio: 470 / 476;

    background: var(--green);
    z-index: var(--z-default);
  }

  &__decord {
    position: absolute;
    top: 100px;
    right: -98px;
    z-index: var(--z-elevated);
  }

  &__yellow {
    position: absolute;
    bottom: 0;
    left: 0;

    width: calc(170 / 470 * 100%);
    aspect-ratio: 170 / 422;

    background: var(--yellow);
  }

  &__img {
    img {
      display: block;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 330px;
      height: 476px;

      object-fit: cover;
    }
  }
}

// animation
@keyframes rotateCircle {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

// responsive
@media (max-width: 1199.98px) {
  .shape {
    padding: 40px;

    &__green {
      width: min(400px, 100%);
      aspect-ratio: 400 / 430;
      margin: 0 auto;
    }
    &__play {
      top: 0px;
      left: 0px;
      width: 90px;
      height: 90px;

      &::before {
        width: 60px;
        height: 60px;
        font-size: 16px;
      }
    }
    &__img {
      img {
        width: 280px;
        height: 430px;
      }
    }

    &__yellow {
      width: 140px;
      height: 380px;
    }

    &__decord {
      top: 80px;
      right: -40px;
      width: 100px;
    }
  }
}

@media (max-width: 991.98px) {
  h2.title {
    font-size: 38px;
    line-height: 44px;
  }

  .shape {
    // width: min(400px, 100%);
    margin: 0 auto;

    &__play {
      top: 0px;
      left: 0px;
      width: 90px;
      height: 90px;

      &::before {
        width: 60px;
        height: 60px;
        font-size: 16px;
      }
    }

    &__decord {
      top: 80px;
      right: -40px;
      width: 100px;
    }

    &__green {
      width: 100%;
      aspect-ratio: 400 / 430;
    }

    &__img {
      img {
        width: 280px;
        height: 430px;
      }
    }
  }

  .features__content {
    padding-bottom: 30px;
  }
}

@media (max-width: 767.98px) {
  .shape {
    &__green {
      width: min(350px, 100%);
      aspect-ratio: 350 / 400;
    }

    &__img {
      img {
        width: 240px;
        height: 400px;
      }
    }

    &__yellow {
      width: 120px;
      height: 350px;
    }

    &__decord {
      right: -30px;
      top: 70px;
    }

    &__play {
      top: -40px;
      left: -10px;
      transform: scale(0.8);
    }
  }
}
// About section
.about {
  background: var(--dark);
  padding: 100px 0;

  .row {
    align-items: center;
  }

  &__img {
    img {
      width: 570px;
      height: 570px;
      object-fit: cover;
    }
  }
}
// responsive
@media (max-width: 1199.98px) {
  .about {
    &__img {
      img {
        width: 400px;
        height: 400px;
      }
    }
  }
}

// Feedback
.number__strong {
  display: block;
  color: var(--white);

  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
}

.feedback {
  display: flex;
  gap: 55px;
  margin-bottom: 38px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
/* Features section */
.features {
  padding-bottom: 150px;
}
.features .row {
  align-items: center;
}

.features__img img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.features__list {
  margin-top: 10px;
  padding-left: 17px;
}

.features__list li {
  list-style: disc;
}

.feature__item {
  color: var(--Dark, #0e1412);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.features__second {
  padding: 0 0 150px;
}
// testimonal
.testimonial {
  padding: 100px 0;
}

.testimonial-action {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.testimonial__img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin-bottom: 30px;
}

.testimonials-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.testimonial__desc {
  margin-bottom: 20px;
}

.testimonials-info::before {
  font: var(--fa-font-solid);
  content: "\f10d";
  display: block;
  width: 27px;
  height: 24px;
  color: var(--yellow);
  font-size: 40px;
  margin-bottom: 20px;
}

.testimonials__name {
  color: var(--Dark, #0e1412);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.testimonials__role {
  color: var(--Grey, #586863);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.testimonial-card {
  border: 1px solid #e6efec;
  background: var(--White, #fff);
  padding: 20px;
  margin-top: 50px;
  overflow: hidden;
}

.testimonials-dots {
  display: flex;
  gap: 10px;
  width: fit-content;
  margin: 55px auto 0;
}

.testimonials-dot {
  display: block;
  width: 6px;
  height: 6px;
  background-color: var(--dark);
  border-radius: 50%;
  cursor: pointer;
}

.testimonials-dot--active {
  background-color: var(--orange);
}

/* FAQ Section */
.faq {
  padding: 100px 0;
}

.faq__subtitle {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.faq__title {
  text-align: center;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 10px;
}

.faq-tabs {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.faq__tab {
  display: block;
  color: var(--Dark, #0e1412);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.faq__tab--active {
  color: var(--Orange, #fd6038);
}

.accordion-item {
  position: relative;
  border-bottom: 1px solid #dbe1e3;
  transition:
    margin 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out,
    border-radius 0.4s ease-in-out;
}

.accordion-item__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  cursor: pointer;
}

.accordion-item:last-child .accordion-item__header {
  border-bottom: none;
}

.accordion-item__icon {
  width: 28px;
  height: 28px;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  transition: background-color 0.3s ease-in-out;
}

.accordion-item__icon i {
  transition: transform 0.3s ease-in-out;
}

.accordion-item__input:checked ~ .accordion-item__header .accordion-item__icon {
  background-color: var(--orange);
}

.accordion-item__input:checked
  ~ .accordion-item__header
  .accordion-item__icon
  i {
  transform: rotate(180deg);
}

.accordion-item__title {
  color: var(--Dark, #0e1412);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.accordion-item__inner {
  padding: 30px;
}

.accordion-item__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition:
    max-height 0.3s ease-in-out,
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

.accordion-item__input:checked ~ .accordion-item__content {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
}

.accordion-item__input:checked
  ~ .accordion-item__content
  .accordion-item__inner {
  padding: 0 30px 30px 30px;
}

.accordion-item__desc {
  color: var(--Grey, #586863);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.faq-content {
  margin-bottom: 40px;
}

// blog
.blog {
  padding: 100px 0;

  &s-top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  &-card {
    display: flex;
    flex-direction: column;
    height: 100%;

    &:hover {
      .blog-card__img {
        scale: 1.1;
      }

      .blog-card__link {
        color: var(--orange);
      }
    }

    &__media-link {
      display: block;
      overflow: hidden;
      margin-bottom: 20px;
    }

    &__img {
      display: block;
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      transition: scale 0.6s ease-in-out;
    }

    &__media {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 20px;
    }

    &__avatar {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      object-fit: cover;
      object-position: top;
    }

    &__info {
      display: flex;
      flex-direction: column;
    }

    &__author {
      font-weight: 600;
    }

    &__position {
      font-size: 1.6rem;
      line-height: 2.8rem;
      color: var(--gray);
    }

    &__title {
      color: var(--Dark, #181d1f);
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
    }

    &__link {
      align-self: flex-start;
      padding-right: 12px;
      margin-top: auto;
      font-weight: 600;
      transition: color 0.3s ease-in-out;
    }
  }
  @media (max-width: 991.98px) {
    .blog-card__title {
      font-size: 1.8rem;
    }
  }
}

@media (max-width: 575.98px) {
  .features,
  .about,
  .faq,
  .blog {
    overflow-x: hidden;
  }
  h2.title {
    font-size: 3rem;
    line-height: 35px;
  }
  p.desc {
    font-size: 1.5rem;
  }
}
