<!doctype html>
<html lang="en">
  <head>
    <title>BLOG</title>
    <%- include("./partials/head.ejs")%>
  </head>
  <body>
    <div class="wrapper">
      <div class="header-wrapper"><%- include("./partials/header.ejs")%></div>
      <!-- end header-wrapper -->

      <!-- Main content -->
      <main>
        <section class="blog__hero">
          <div class="container">
            <div class="row">
              <div class="col-5 col-xl-8">
                <h1 class="title title--dark">Our Regular Blog</h1>
                <p class="hero__desc desc desc--dark">
                  With our experience we are ready to help you create a modern
                  property with an easy step.
                </p>
              </div>
            </div>
          </div>
        </section>
        <section class="blog-list">
          <div class="container">
            <div class="row gx-3 gy-4">
              <div class="col-3">
                <article class="blog-card">
                  <img
                    src="./assets/images/blog-01.png"
                    alt=""
                    class="blog-card__img"
                  />

                  <p class="blog-card__title">
                    Top 20 Effective Digital Marketing Tools to Help
                  </p>

                  <time class="blog-card__date" datetime="2021-07-27">
                    July 27, 2021
                  </time>
                </article>
              </div>

              <div class="col-3">
                <article class="blog-card">
                  <img
                    src="./assets/images/blog-02.png"
                    alt=""
                    class="blog-card__img"
                  />

                  <p class="blog-card__title">
                    Top 20 Effective Digital Marketing Tools to Help
                  </p>

                  <time class="blog-card__date" datetime="2021-07-27">
                    July 27, 2021
                  </time>
                </article>
              </div>

              <div class="col-3">
                <article class="blog-card">
                  <img
                    src="./assets/images/blog-03.png"
                    alt=""
                    class="blog-card__img"
                  />

                  <p class="blog-card__title">
                    Top 20 Effective Digital Marketing Tools to Help
                  </p>

                  <time class="blog-card__date" datetime="2021-07-27">
                    July 27, 2021
                  </time>
                </article>
              </div>

              <div class="col-3">
                <article class="blog-card">
                  <img
                    src="./assets/images/blog-04.png"
                    alt=""
                    class="blog-card__img"
                  />

                  <p class="blog-card__title">
                    Top 20 Effective Digital Marketing Tools to Help
                  </p>

                  <time class="blog-card__date" datetime="2021-07-27">
                    July 27, 2021
                  </time>
                </article>
              </div>

              <div class="col-3">
                <article class="blog-card">
                  <img
                    src="./assets/images/blog-05.png"
                    alt=""
                    class="blog-card__img"
                  />

                  <p class="blog-card__title">
                    Top 20 Effective Digital Marketing Tools to Help
                  </p>

                  <time class="blog-card__date" datetime="2021-07-27">
                    July 27, 2021
                  </time>
                </article>
              </div>

              <div class="col-3">
                <article class="blog-card">
                  <img
                    src="./assets/images/blog-06.png"
                    alt=""
                    class="blog-card__img"
                  />

                  <p class="blog-card__title">
                    Top 20 Effective Digital Marketing Tools to Help
                  </p>

                  <time class="blog-card__date" datetime="2021-07-27">
                    July 27, 2021
                  </time>
                </article>
              </div>

              <div class="col-3">
                <article class="blog-card">
                  <img
                    src="./assets/images/blog-07.png"
                    alt=""
                    class="blog-card__img"
                  />

                  <p class="blog-card__title">
                    Top 20 Effective Digital Marketing Tools to Help
                  </p>

                  <time class="blog-card__date" datetime="2021-07-27">
                    July 27, 2021
                  </time>
                </article>
              </div>

              <div class="col-3">
                <article class="blog-card">
                  <img
                    src="./assets/images/blog-06.png"
                    alt=""
                    class="blog-card__img"
                  />

                  <p class="blog-card__title">
                    Top 20 Effective Digital Marketing Tools to Help
                  </p>

                  <time class="blog-card__date" datetime="2021-07-27">
                    July 27, 2021
                  </time>
                </article>
              </div>

              <div class="col-3">
                <article class="blog-card">
                  <img
                    src="./assets/images/blog-09.png"
                    alt=""
                    class="blog-card__img"
                  />

                  <p class="blog-card__title">
                    Top 20 Effective Digital Marketing Tools to Help
                  </p>

                  <time class="blog-card__date" datetime="2021-07-27">
                    July 27, 2021
                  </time>
                </article>
              </div>

              <div class="col-3">
                <article class="blog-card">
                  <img
                    src="./assets/images/blog-10.png"
                    alt=""
                    class="blog-card__img"
                  />

                  <p class="blog-card__title">
                    Top 20 Effective Digital Marketing Tools to Help
                  </p>

                  <time class="blog-card__date" datetime="2021-07-27">
                    July 27, 2021
                  </time>
                </article>
              </div>

              <div class="col-3">
                <article class="blog-card">
                  <img
                    src="./assets/images/blog-11.png"
                    alt=""
                    class="blog-card__img"
                  />

                  <p class="blog-card__title">
                    Top 20 Effective Digital Marketing Tools to Help
                  </p>

                  <time class="blog-card__date" datetime="2021-07-27">
                    July 27, 2021
                  </time>
                </article>
              </div>

              <div class="col-3">
                <article class="blog-card">
                  <img
                    src="./assets/images/blog-12.png"
                    alt=""
                    class="blog-card__img"
                  />

                  <p class="blog-card__title">
                    Top 20 Effective Digital Marketing Tools to Help
                  </p>

                  <time class="blog-card__date" datetime="2021-07-27">
                    July 27, 2021
                  </time>
                </article>
              </div>

              <div class="col-3">
                <article class="blog-card">
                  <img
                    src="./assets/images/blog-13.png"
                    alt=""
                    class="blog-card__img"
                  />

                  <p class="blog-card__title">
                    Top 20 Effective Digital Marketing Tools to Help
                  </p>

                  <time class="blog-card__date" datetime="2021-07-27">
                    July 27, 2021
                  </time>
                </article>
              </div>

              <div class="col-3">
                <article class="blog-card">
                  <img
                    src="./assets/images/blog-14.png"
                    alt=""
                    class="blog-card__img"
                  />

                  <p class="blog-card__title">
                    Top 20 Effective Digital Marketing Tools to Help
                  </p>

                  <time class="blog-card__date" datetime="2021-07-27">
                    July 27, 2021
                  </time>
                </article>
              </div>

              <div class="col-3">
                <article class="blog-card">
                  <img
                    src="./assets/images/blog-15.png"
                    alt=""
                    class="blog-card__img"
                  />

                  <p class="blog-card__title">
                    Top 20 Effective Digital Marketing Tools to Help
                  </p>

                  <time class="blog-card__date" datetime="2021-07-27">
                    July 27, 2021
                  </time>
                </article>
              </div>

              <div class="col-3">
                <article class="blog-card">
                  <img
                    src="./assets/images/blog-16.png"
                    alt=""
                    class="blog-card__img"
                  />

                  <p class="blog-card__title">
                    Top 20 Effective Digital Marketing Tools to Help
                  </p>

                  <time class="blog-card__date" datetime="2021-07-27">
                    July 27, 2021
                  </time>
                </article>
              </div>
            </div>
          </div>
          <div>
            <button class="btn btn--small blog-btn">Load More</button>
          </div>
        </section>
      </main>

      <!-- footer -->
      <%- include("./partials/footer.ejs")%>
    </div>
  </body>
  <script type="module" src="./main.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</html>
