@use "./reset";

// layout
@use "./layout/grid";
@use "./layout/header";
@use "./layout/award";
@use "./layout/service";
@use "./layout/team";
@use "./layout/cta";
@use "./layout/footer";

// pages

@use "./pages/home";
@use "./pages/about";
@use "./pages/blog";
@use "./pages/contact";
@use "./pages/practice";

// component
@use "./components/button";

// Common

* {
  box-sizing: border-box;
}
/* Root variables */
:root {
  --dark: #0e1412;
  --heading-font: "Roboto Slab", serif;
  --text-font: "Manrope", sans-serif;
  --green: #017848;
  --yellow-light: #f8ebc9;
  --white: #fff;
  --orange: #fd6038;
  --yellow: #fed464;
  --grey: #586863;
  --z-default: 1;
  --z-elevated: 2;
  --z-overlay: 3;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

a {
  text-decoration: none;
}

p {
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 30px;
}

.subtitle--orange {
  color: var(--orange);
}
.title--white {
  color: var(--white);
}
.subtitle--white {
  color: var(--white);
}
.subtitle--gray,
.desc--gray {
  color: var(--grey);
}
.title--dark,
.subtitle--dark {
  color: var(--dark);
}

button,
input,
textarea,
select {
  font-size: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.desc {
  margin-top: 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
